---
import Html from "@/layouts/LayoutHTML.astro";
import FramePage from "@/layouts/FramePage.astro";
---

<Html
    title={Astro.url.pathname}
    description=""
>
    <FramePage>
        <div class="flex items-center justify-center size-full m-auto">
            <p class="m-5 text-2xl text-center text-pretty">
                Lo sentimos pero <span class="p-1 bg-base-100 rounded-md font-semibold"
                    >{Astro.url.pathname}</span
                > no existe o ha sido eliminada. No te preocupes, tenemos muchas
                otras cosas que ofrecerte.
            </p>
        </div>
    </FramePage>
</Html>
