---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "" }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="head" />
		<ViewTransitions/>
	</head>
	<body class="bg-base-300">
		<slot />
	</body>
</html>

<style is:global>
	* {
		position: relative;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	:root {
		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark light;
		}
	}

	html {
		font-size: 16px;
		font-family:
			Roboto,
			fsystem-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		/* background-size: 224px; */
	}
</style>
